
div{
    border:solid black;
}
body{
    background-color:#ffc0cb;
}
.footer{
    background-color:aqua;
    text-align: center;
}
h1{
    color:khaki;
}
h5{
    color: mediumaquamarine;
}